.packct{
    display: flex;
    justify-content: center;
    
    > .pktent{

        display: block;
        margin: 20px;
        border: 1px solid brown;
        border-radius: 8px;
        box-shadow: 0 2px 2px 0 brown;
    }
}
