

.container{
    margin: 0;
    padding: 0;
    
    > .maincontent{
        width: 500px;
    }
}

.contentshow{
    width: 500px;
    > .Submit-Lprice{
        overflow-y: scroll;
        width:100%;
       
    }
}

