.container {
    margin: 0px;
    padding: 0px;
}


.nav-bar{
    border: 1px solid black;
    top: 0px;
    position: fixed;
    width: 100%; 
}

.nav-bar ,.title{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
}

.content {
    
    text-decoration: none;
       
}

 .onclick { 
    background-color: aqua;
    display: block;
    padding: 20px;
    text-align: center;
     
}




